<h1 class ="header"><%= @board.lists.length > 0 ? "All Lists " : "You don't have any lists."%>
  <%if @board.lists.length == 0%>
    <i class="large frown outline icon"></i></h1>
    <div><%= link_to "New List", new_board_list_path(@board), class: "ui button green inverted"%>
    <%= link_to "Back To Board", board_path(@board), class: "ui button secondary inverted"%></div>
  <% else %>
    <div><%= link_to "New List", new_board_list_path(@board), class: "ui button green inverted"%>
    <%= link_to "Back To Board", board_path(@board), class: "ui button secondary inverted"%></div>

  <hr>
  <div class = "ui cards">
<% @board.lists.each do |list| %>
  <div class="ui card">
    <div class="content">
          <h1 class="header"><%= list.title %></h1>
    </div>
    <div class="extra content">
      <%= link_to "View List", board_list_path(@board, list), class:"ui tiny button green inverted" %>
      <%= link_to "Edit List", edit_board_list_path(@board, list), class:"ui tiny button secondary inverted" %>
    </div>
  </div>
    <% end %>
  </div>
    <% end %>
        <%# <ul style="list-style: none;"> %>