<%if @boards.length == 0%>
<h1 class = "header">Welcome <%= current_user.full_name%>!</h1>
<h3>You don't have any boards!</h3>
<h4><%=link_to "Add a new board", new_board_path%> to get started on your journey of productivity!</h4>
    <% else %>
  <hr>
  <h1 class = "header"> Viewing All Boards </h1>
  <div class = "ui cards">
<% @boards.each do |board| %>
  <div class="ui card">
    <div class="content">
          <h1 class="header"><%= board.title %></h1>
    </div>
    <div class="extra content">
      <%= link_to "View Board", board_lists_path(board), class:"ui tiny button green inverted" %>
      <%= link_to "Edit Board", edit_board_path(board), class:"ui tiny button secondary inverted" %>
      <%= link_to "Delete Board", board_path(board), method: :delete, class:"ui tiny button red inverted" %>
    </div>
  </div>
    <% end %>
  </div>    
    <% end %>
        <%# <ul style="list-style: none;"> %>